/*
* DEFAULT STYLE
*/
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
    font-size: 1rem;
    font-weight: 600;
    transition: 150ms;
}

.button:disabled,
.button[data-disabled],
.button:disabled:hover,
.button:disabled:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border: none;
    background-color: var(--light-neutral-color);
    color: var(--neutral-color);
}


/*
* NORMAL BUTTON
*/
.button-normal {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--brand-color);
    color: var(--surface-color);
}

.button-normal:hover,
.button-normal--hover {
    background-color: var(--hover-brand-color);
}

.button-normal:active,
.button-normal--pressed {
    background-color: var(--press-brand-color);
}


/*
* OUTLINE VARIANT
*/
.button-outline {
    padding: 14px 24px;
    border-radius: 8px;
    background:  var(--surface-color);
    border: solid 2px var(--brand-color);
    color: var(--brand-color);
}

.button-outline:hover,
.button-outline--hover {
    background-color: var(--hover-brand-color);
    color: var(--surface-color);
}

.button-outline:active,
.button-outline--pressed {
    background-color: var(--press-brand-color);
    color: var(--surface-color);
}
