@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --light-neutral-color: #B7B7B7;
  --neutral-color: #1D1D1D;

  --foreground-color: #0D0D0D;
  --strong-foreground-color: #000000;

  --strong-surface-color: #E4E4E4;
  --surface-color: #FFFFFF;

  --brand-color: #011F39;
  --press-brand-color: #001527;
  --hover-brand-color: #012748;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    color: var(--foreground-color);
    background-color: var(--surface-color);
    -webkit-font-smoothing: antialiased;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}