/*
* DEFAULT STYLE
*/
.input {
    display: flex;
    align-items: start;
    justify-content: center;
    height: fit-content;
    border: none;
    background: none;
    background-color: transparent;
    cursor: text;
    font: inherit;
    font-size: 1rem;
    font-weight: 500;
    transition: 150ms;
    outline: none;
}

.input:disabled,
.input[data-disabled],
.input[data-disabled]:focus,
.input:disabled:focus {
    cursor: not-allowed;
    border: solid 1px var(--light-neutral-color);
    color: var(--light-neutral-color);
}


/*
* NORMAL INPUT
*/

.input-normal {
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 1px var(--foreground-color);
    color: var(--foreground-color);
}

.input-normal::placeholder {
    color: var(--light-neutral-color);
}

.input-normal:focus {
  background-color: color-mix(in srgb, var(--hover-brand-color) 10%, transparent);
  border: solid 1px var(--hover-brand-color);
}

.input-normal:focus::placeholder {
    color: transparent;
}

