
h1 {
    color: var(--strong-foreground-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: solid 1px var(--neutral-color);
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--foreground-color);
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--foreground-color);
}
