.table-container {
    position: relative;

    background-color: var(--surface-color);
    border-radius: 8px;
    overflow: visible;

}

.data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.875rem;
    text-align: left;
}

.data-table__head th:first-child {
    border-top-left-radius: 8px;
}



.data-table__head th:last-child {
    border-top-right-radius: 8px;
}

.data-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.data-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.data-table__head th {
    background-color: var(--strong-surface-color);
}

.data-table__head {
    color: var(--brand-color);
}

.data-table__header {
    padding: 0.75rem;
    font-weight: 600;
}

.data-table__row {
    position: relative;
    transition: background-color 150ms ease;
}


.data-table__cell {
    padding: 0.75rem;
    color: var(--neutral-color);
}

.data-table__cell--center {
    text-align: center;
}

.data-table__cell--right {
    text-align: right;
}

.table-phone {
    white-space: nowrap;
}
